{% extends "base.html" %}
{% block content %}
{% for message in messages %}
<div class="alert alert-warning" role="alert">
  {{ message}}
</div>
{% endfor %}

<h1 class="mb-3">All {{ view.kwargs.username }} Posts ({{ page_obj.paginator.count }})</h1>
{% for posts in post %}
<div class = "container">
<div class="card border-success mb-3" style="max-width: 540px;">

 <div class="card-header"> <a href="{% url 'user-post' posts.author.username %}">{{posts.author}}</a></div>
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{posts.author.profile.image.url}}" class="card-img" alt="Responsive image">
      <a href="{% url 'blog-update' posts.id %}">Update</a>
 <a href="{% url 'blog-delete' posts.id %}">Delete</a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <a href="{% url 'blog-detail' posts.id %}"><h5 class="card-title">{{posts.title}}</h5></a>
        <p class="card-text">{{posts.content}}</p>
        <p class="card-text"><small class="text-muted">{{posts.date_posted|date:"F d, Y"}}</small></p>
      </div>
    </div>
  </div>
</div>
</div>
{% endfor %}
{% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
