{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Link with password reset instruction sent to the email.</legend>
                {{ form|crispy }}
                Click here to check your <a href="www.mail.google.com">email</a>!
            </fieldset>
        </form>
    </div>
{% endblock content %}