{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Successfully Changed</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
               <a href= "{% url 'login' %}">Login again</a>
            </div>
        </form>
    </div>
{% endblock content %}